p{
    padding-left 20%;
    padding-right: 20%
    text-decoration: solid;
    line-height: 20px
}
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
body
{
   text-align: center;
   background-color: #011627;
   color: #c0c7bc;
   border:43px solid #499b79;

   margin:0;
   
}
strike 
{
    color:red;
}
h1{
    color:rgb(193, 193, 95);
    font-family:'Solway', serif;
    word-spacing: 5px;

}
h2{
    color: green;
}
span{
    color:red;
}
#sub
{
    height:33px;
    width: 165px;
    background-color: yellow;
    color: green;
    
}
input
{
    height:23px;
    border:0.5px solid rgb(116, 154, 116);
    border-radius : 65px;
}