/*input:focus{
     background-color: rgb(184, 189, 209);
}
input:required
{
    border:2px solid green;
    border-radius:25px;
}
#data:optional
{
    border:2px solid red;
}*/
input:out-of-range{
    background: rgb(198, 167, 167);
}
input:in-range{
    background: rgb(191, 219, 209);
}